# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: e9d31cb88e76d97b20e4ce9b3500541c2122f8be9aac2e9c6ee6b8c65b3d2c957583fb06a3ccaa5594678cd1c64b2c7c041a63e244e470860bede012688c0a9d

test:
  secret_key_base: 90802355b0360b04fe19031f4d628f44a56fb89ed85daf218db10f5de7e01db1562a0807d0ad1aa93c60df73dcd666314336287a941bd385ca1bedd2f3c280fb

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
